---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>IACES</title>
  </head>
  <body>
    <div
      class="w-screen h-screen px-[30px] py-5 justify-start items-center gap-[150px] inline-flex"
    >
      <div class="w-[290px] h-[116px] justify-center items-center flex">
        <div class="text-black text-8xl font-bold">IACES</div>
      </div>
      <div
        class="h-[65px] py-[18px] justify-center items-center gap-[25px] flex"
      >
        <div class="text-black text-2xl font-bold">HOME</div>
        <div class="text-center text-neutral-400 text-2xl font-bold">
          EVENTS
        </div>
        <div class="text-neutral-400 text-2xl font-bold">PODCAST</div>
        <div class="text-neutral-400 text-2xl font-bold">
          INTERNATIONAL PRESENCE
        </div>
        <div class="text-neutral-400 text-2xl font-bold">PARTNERS</div>
      </div>
      <div
        class="w-[179px] h-[60px] px-2.5 py-3.5 bg-black justify-between items-center flex"
      >
        <div class="w-[159px] h-[18px] text-white text-2xl font-bold">
          CONTACT US
        </div>
      </div>
    </div>
  </body>
</html>
