---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Home";
const { url } = Astro;
---

<BaseLayout title={title}>
  <div class="flex justify-center">
    <h1 class="text-3xl font-bold">
      This is going to be the <span class="underline">{title}</span> page..
    </h1>
  </div>
</BaseLayout>
