---
import NavBar from "./NavBar.astro";
---

<header class="flex flex-row justify-between p-5 items-center">
  <div class="w-64 h-28 flex justify-center items-center shrink">
    <span class="font-bold text-8xl">IACES</span>
  </div>
  <NavBar />
  <div class="w-64 h-28 flex justify-center items-center shrink">
    <a href="?" class="bg-black text-white p-2 font-medium"> Contact us </a>
  </div>
</header>
